
<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>登录 - Worktile</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="base_outer.css" />


    
</head>
<body class="ng-cloak" data-ng-cloak>
<header id="header">


    <nav id="header_outer" class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse"
                    wt-tracker="Header|Collapse|Toggle Navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="header_logo" class="navbar-brand"
               wt-tracker="Header|Logo|Goto Index"
               href="/" title="Worktile">Worktile</a>
        </div>
        <div class="collapse navbar-collapse navbar-header-collapse">

            <ul id="header_menu" class="nav navbar-nav">
                 <li >
                <a wt-tracker="Header|Menu|Goto Index" href="index.html">首页</a>
                </li>
                <li >
                <a wt-tracker="Header|Menu|Goto Mobile" href="mobile.html">移动版</a>
                </li>
                <li>
                <a wt-tracker="Header|Menu|Goto About" href="about.html">关于</a>
                </li> 
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-controller="user_ctrl"
            id="header_me">
                <li class="divider-vertical hidden-xs"></li>
                
                <li>
                    <a class="mr_15" wt-tracker="Header|Menu|Goto Signin" href="signin.html">登录</a>
                </li>
                <li>
                    <a href="signup.html" wt-tracker="Header|Menu|Goto Apply">注册</a>
                </li>
                
            </ul>
        </div>
</nav>



</header>
<div id="wrap-all"><div id="main" class="inner">
<div class="other-warp login-wrap" data-ng-controller="user_login_ctrl">

    <div data-minheight="58" class="single-panel clearfix">
        <div class="single-panel-inner login-mini" ng-if="status.code == 0">
            <div class="single-panel-header">
                <h3>登录</h3>
            </div>
            <div class="single-panel-body">
                <div class="single-panel-section">
                    <form wt-form-validate="{blurTrig:false,showMsg:false}" name="login_form"
                          class="form-horizontal wt-form" novalidate>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon icon-user"></i></span>
                                <input class="form-control" type="text" placeholder="输入用户名/邮箱"
                                       name="login_name" ng-model="signin_user.name" required="" wt-autofocus=""/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon fs_17"><i class="icon icon-lock"></i></span>
                                <input class="form-control" type="password" placeholder="输入密码"
                                       name="login_password" ng-model="signin_user.password" required=""/>
                            </div>
                        </div>

                        <div class="form-group" ng-if="login_form.$errors.length > 0">
                            <div class="alert alert-danger">
                                <i class="icon-remove-sign mr_5"></i>{{login_form.$errors[0]}}
                            </div>
                        </div>
                        <div class="form-group">
                            <button wt-form-submit="signin(login_form)" class="btn btn-success btn-lg btn-block"
                                    type="button"
                                    wt-tracker="Login Page|Main|Login"
                                    data-loading-text="登录中..." loading-status="signin_user.is_login_ing"> 登 录
                            </button>
                        </div>
                    </form>
                </div>

            </div>
 <!--            <div class="single-panel-footer">
                <div class="pull-right">
                    <a wt-tracker="Login Page|Main|Goto Forgot" href="/forgot">忘记密码？</a></div>
            </div> -->
        </div>


        <div class="single-panel-inner login-mini" ng-if="status.code == 1">
            <div class="single-panel-header">
                <h3>登录</h3>
            </div>
            <div class="single-panel-body">
                <div class="single-panel-section">

                    <form wt-form-validate="{blurTrig:false,showMsg:false}" name="twofactor_form"
                          class="form-horizontal wt-form" novalidate>
                        <div class="form-group">
                            您的帐户开启了两步验证，请输入动态验证码登录<br/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="输入动态验证码"
                                   name="factor" ng-model="signin_user.factor" required="" wt-autofocus=""/>
                        </div>

                        <div class="form-group" ng-if="twofactor_form.$errors.length > 0">
                            <div class="alert alert-danger">
                                <i class="icon-remove-sign mr_5"></i>{{twofactor_form.$errors[0]}}
                            </div>
                        </div>
                        <div class="form-group">
                            <button wt-form-submit="js_signin_twofactor(twofactor_form)"
                                    class="btn btn-success btn-lg btn-block"
                                    type="button"
                                    wt-tracker="Login Page|Main|Login"
                                    data-loading-text="登录中..." loading-status="signin_user.is_signfactoing">登录
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="single-panel-footer">
                <div class="pull-right">
                    <a wt-tracker="Login Page|Main|Goto Forgot" href="javascript:;" data-ng-click="status.code = 2">手机设备丢失？使用安全码登录</a></div>
            </div>
        </div>

        <div class="single-panel-inner login-mini" ng-if="status.code == 2">
            <div class="single-panel-header">
                <h3>登录</h3>
            </div>
            <div class="single-panel-body">
                <div class="single-panel-section">

                    <form wt-form-validate="{blurTrig:false,showMsg:false}" name="recovery_form"
                          class="form-horizontal wt-form" novalidate>
                        <div class="form-group">
                            您的帐户开启了两次验证，请输入安全码登录<br/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="输入安全码"
                                   name="recovery_code" ng-model="signin_user.recovery_code" required="" autofocus=""/>
                        </div>

                        <div class="form-group" ng-if="recovery_form.$errors.length > 0">
                            <div class="alert alert-danger">
                                <i class="icon-remove-sign mr_5"></i>{{recovery_form.$errors[0]}}
                            </div>
                        </div>
                        <div class="form-group">
                            <button wt-form-submit="js_signin_recovery(recovery_form)"
                                    class="btn btn-success btn-lg btn-block"
                                    type="button"
                                    wt-tracker="Login Page|Main|Login"
                                    data-loading-text="登录中..." loading-status="signin_user.is_signrecoverying">登录
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="single-panel-footer">
                <div class="pull-right">
                    <a wt-tracker="Login Page|Main|Goto Forgot" href="javascript:;" data-ng-click="status.code = 1">使用动态验证码登录</a>
                </div>
            </div>
        </div>

    </div>
</div>

</div></div>

<script type="text/javascript">
    window.wt = {};

</script>


<script src="js.js"></script>





<script type="text/javascript">
    angular.element(document).ready(function() {
        initOuterApp();
        angular.bootstrap(document, ['wt']);
    });
</script>

</body>
</html>

